:root {
    --maria: #66deee;
    --branco: #ffffff;
}

body {
    background-color: var(--maria);

}

img {
    width: 30%;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section {
    display: flex;
    background-color: var(--branco);
}

element.style {
    border-radius: 25px;
    /* border-style: dotted; */
    /* border-width: 4px; */
    /* border-color: teal; */
    border: dotted 3px thistle;
    margin: 20px 40px 10px 5px;
    padding: 98px;
}

.lindas {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: blanchedalmond;
    text-align: center;
}

.img-intro {
    width: 40%;
}

.img-equipe {
    width: 40%;
}