:root {
    --maria:#66deee;
}

body {
    background-color: var(--maria);

}

img {
    width: 41%;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
}