:root {
    --maria:#66deee;
    --branco:#ffffff;
}

body {
    background-color: var(--maria);

}

img {
    width: 30%;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section{
    display: flex;
    background-color: var(--branco);
    border-radius: 25px;
    /* border-style: dotted; */
    /* border-width: 4px; */
    /* border-color: teal; */
    border: dotted 3px teal;
}